{% extends "elements/layout.html" %}

{% block content %}
<div class="d-flex justify-content-center">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Наименование корма</th>
        <th scope="col">Остаток запаса</th>
        <th scope="col">Обеспеченность запасами (дни)</th>
        <th scope="col">Объем товара на квартал</th>
      </tr>
    </thead>
    <tbody>
      {% for food in feed %}
      <tr>
        <th scope="row">{{food.name}}</th>
        <td>{{food.amount}}</td>
        <td>{{food.stock}}</td>
        <td>{{food.quarter}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center">
  <img class="img-fluid" src="{{ url_for('static', filename='graph.png') }}" alt="">
</div>


{% endblock content %}