{% extends "elements/layout.html" %}

{% block content %}
<div class="container">
  <h2 class="text-center">График заказов</h2>
</div>
<div class="container">
  <div class="d-flex justify-content-center">
    <table class="table table-hover">
      <thead>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Зеленый корм</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Корнеклубные плоды</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Сено</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Веточный корм</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Концентрированный корм</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Минеральный корм</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}