{% extends "elements/layout.html" %}

{% block content %}
<div class="container">
  <h2 class="text-center">График заказов</h2>
</div>
<div class="container">
  <div class="d-flex justify-content-center">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Наименование корма</th>
          <th scope="col">Дата окончания запасов</th>
        </tr>
      </thead>
      <tbody>
        {% for food, day in zip %}
        <tr>
          <th scope="row">{{food.name}}</th>
          <td>{{day}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}